<div class="content">
	<div class="title">
		500 - ERROR
	</div>
	<div class="body">
		<p class="clearfix">
			<img style="float:right;" src="<%= settings.error_img %>"/>
			<b style="font-size: 130%;">Oh Noooos!</b><br /><br />
			There was a problem with your attempt. <br />
			<br />
			Something obviously went wrong. The developer of this application must have done something wrong, or maybe you input some malformed data. Or perhaps you crossed a Velociraptor, and it is seaking vengeance. Who knows?<br />
			<br />
			You can report this problem, or run for your life, depending on the nature of your problem.
		</p>
	</div>
</div>
