<div id="index" class="content clearfix">
	<div class="title">
		<%= @title %>		
	</div>
	<div class="body">
		<p>
			<img src="/images/user.png"/>
			<%= @content %>
		</p><br />
		<p>
			This web interface will allow you to set up <a href="/users">User Accounts</a> and <a href="/mac_addresses">MAC Addresses</a> to access our guest wireless services. It will provided automated account expiration, a means
			for tracking which account belongs to whom, and monitoring the account's usage.
		</p>
	</div>
</div>
