<div id="index" class="content clearfix">
	<div class="title">
		<%= @title %>		
	</div>
	<div class="body">
		<p>
			<img src="/images/user.png"/>
			<span>You've reached</span> the web interface for managing POWER Engineers, Inc. RADIUS server. RADIUS (Remote Authentication Dail In User Service) is a networking protocol that provides
			centrialized Authentication, Authorization, and Accounting. Although the standard was developed in the 90's, RADIUS is still used today to manage authentication for
			network resources; in POWER's case we use it for guest wireless authentication, management, and accounting.
		</p><br />
		<p>
			This web interface will allow you to set up <a href="/users">User Accounts</a> and <a href="/mac_addresses">MAC Addresses</a> to access our guest wireless services. It will provided automated account expiration, a means
			for tracking which account belongs to whom, and monitoring the account's usage.
		</p>
	</div>
</div>
