<div class="content">
	<div class="title">
		404 - PAGE NOT FOUND
	</div>
	<div class="body">
		<p>
			Whatever resource you were looking for, could not be found. Perhaps the resource is no longer available?
		</p>
	</div>
</div>
